body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    text-align: left;

    background-image: url('../images/jdconf-background-1.png');
    background-size: cover; /* Cover the entire viewport */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center; /* Center the image */
}


h2 {
    color: #0067b8; /* This sets the color to navy blue */
}

header {
    background-color: #000;
    color: white;
    padding:15px;
    text-align: center;
}

.main-image {
    width: 100%;
    display: block;
}

main {
    padding: 20px;
    text-align: left;
}

/* Media query for screens wider than a specific width, e.g., 768px */
@media screen and (min-width: 768px) {
main {
        padding: 0 7vw; /* Responsive padding for desktop screens */
    }
}

section {
    margin-bottom: 60px;
}
section {
    margin-bottom: 20px; /* Increased spacing between sections */
    padding-bottom: 20px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

a {
    color: #0094FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0px;
    background-color: #0067b8;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.button:hover {
    background-color: #0056b3; /* Hover effect for buttons */
    color: white;
}

/* Default style for mobile devices */
#conference-title {
    display: block;
    font-size: 1.2em;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    font-weight: bold;
}

/* Style for tablets, laptops, and desktops */
@media screen and (min-width: 768px) {
    #conference-title {
        display: block;
        font-size: 2em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
}
.hero-image {
    width: 100%;
    height: auto;
}
.video-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 20px;
}
.video-column {
    flex: 1;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}
iframe {
    width: 100%;
    height: 315px;
    border: none;
}

/* Media query for tablets and smaller devices */
@media (max-width: 768px) {
        .video-column {
        flex-basis: 48%; /* Adjust to 48% to fit two columns in smaller devices */
    }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
        .video-column {
        flex-basis: 100%; /* Stacks the videos vertically on small screens */
    }
}

.uhf-container:not(.has-padding) {
    max-width: calc(100% - 48px);
    width: calc(100% - 48px);
}
.padding-block-lg {
    padding-block: 2rem!important;
}
.is-reading-width {
    max-width: 50rem!important;
}

.padding-bottom-md {
    padding-block-end: 2rem!important;
}

.details:first-of-type {
    border-top: 1px solid #000;
}
.details {
    max-width: 100%;
}

.details-summary, .details-summary-reverse {
    /* background-color: #f2f2f2; */
    border-bottom: 1px solid #000;
    cursor: pointer;
    padding: 1.5rem;
    padding-left: 0px;
    padding-inline-end: 1rem;
    font-weight: 600;
    display: block;
    position: relative;
    outline-offset: -.125rem!important;
}

details > summary:first-of-type {
    display: list-item;
    counter-increment: list-item 0;
    list-style: inside disclosure-closed;
}

details[open] > summary:first-of-type {
    list-style-type: disclosure-open;
}

.details-content {
    background-color: #7272724f;
    border-bottom: 1px solid #000;
    margin: 0;
    padding: 1.5rem;
}

.full-width-wrapper {
    width: 100vw; /* 100% of the viewport width */
    margin-left: calc(-50vw + 50%);  /* Centering the wrapper */
    /* background-color: #cbe9b7; *//* Replace with your desired color */
    /* background: linear-gradient(to right, #cbe9b7, #f7f9b5);*/
}

#previous-events {
        padding: 0 20px; /* Padding as needed */
        padding-bottom: 30px !important;    
        margin: 0 auto;
}

@media screen and (min-width: 768px) {
    #previous-events { 
       margin: 0 auto; /* Centering the content within the wrapper */
       padding: 0 7.4vw !important; /* Padding as needed */
       padding-bottom: 30px !important;
    }
}

