body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    text-align: left;
      
    /*background-image: url('../images/jdconf-background-desktop-1.png');*/
    background: radial-gradient(circle, rgb(255, 255, 255) 30%, rgba(135, 225, 236, 0.637)),  url('../images/jdconf-background-mobile-4.jpg');
    /*background: radial-gradient(circle, rgb(255, 255, 255) 30%, rgba(135, 225, 236, 0.637)),  url('../images/jdconf-background-desktop-1.png');*/
    background-size:cover; /* Cover the entire viewport */
    /*background-attachment: fixed;*/
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center; /* Center the image */
    /*background-color: rgba(104, 228, 208, 1);  */
   
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  body {
      /*background-image: url('../images/jdconf-background-mobile-9.jpg');*/ /* mobile-specific background image */
      /*background-image: url('../images/jdconf-background-desktop-1.png');*/
      /*background: radial-gradient(circle, rgb(255, 255, 255) 30%, rgba(135, 225, 236, 0.637)),  url('../images/jdconf-background-desktop-1.png');*/
      background: linear-gradient(bottom, rgb(255, 255, 255) 30%, rgba(135, 225, 236, 0.637)),  url('../images/jdconf-background-mobile-4.jpg');
      /* additional mobile-specific styles if needed */
  }
}


/* Hide the mobile section by default */
#about-mobile {
    display: none;
}

/* Media query for mobile devices */
@media screen and (max-width: 767px) {
    #about-mobile {
        display: block;
    }
    #about-desktop {
        display: none;
    }
}

/* Media query for desktop devices */
@media screen and (min-width: 768px) {
    #about-desktop {
        display: block;
    }
}


h2 {
    color: #0067b8; /* This sets the color to navy blue */
}

header {
    background-color: #000;
    color: white;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 3.5%;
    /*text-align: center;*/
}

/* Media query for desktop devices */
@media screen and (max-width: 767px) {
  header {
    padding-left: 20px;
}
}

.main-image {
    width: 100%;
    display: block;
}

main {
    padding: 20px;
    text-align: left;
}

/* Media query for screens wider than a specific width, e.g., 768px */
@media screen and (min-width: 768px) {
main {
        padding: 0 7vw; /* Responsive padding for desktop screens */
    }
}

section {
    margin-bottom: 60px;
}
section {
    margin-bottom: 20px; /* Increased spacing between sections */
    padding-bottom: 20px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding-top:20px;
    padding-bottom: 20px;
}

a {
    color: #0094FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0px;
    background-color: #0067b8;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.button:hover {
    background-color: #0056b3; /* Hover effect for buttons */
    color: white;
}

/* Default style for mobile devices */
#conference-title {
    display: block;
    font-size: 1.2em;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    font-weight: bold;
}

/* Style for tablets, laptops, and desktops */
@media screen and (min-width: 768px) {
    #conference-title {
        display: block;
        font-size: 2em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
}
.hero-image {
    width: 100%;
    height: auto;
}
.video-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 20px;
}
.video-column {
    flex: 1;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}
iframe {
    width: 100%;
    height: 315px;
    border: none;
}

/* Media query for tablets and smaller devices */
@media (max-width: 768px) {
        .video-column {
        flex-basis: 48%; /* Adjust to 48% to fit two columns in smaller devices */
    }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
        .video-column {
        flex-basis: 100%; /* Stacks the videos vertically on small screens */
    }
}

.uhf-container:not(.has-padding) {
    max-width: calc(100% - 48px);
    width: calc(100% - 48px);
}
.padding-block-lg {
    padding-block: 2rem!important;
}
.is-reading-width {
    max-width: 50rem!important;
}

.padding-bottom-md {
    padding-block-end: 2rem!important;
}

.details:first-of-type {
    border-top: 1px solid #000;
}
.details {
    max-width: 100%;
}

.details-summary, .details-summary-reverse {
    /* background-color: #f2f2f2; */
    border-bottom: 1px solid #000;
    cursor: pointer;
    padding: 1.5rem;
    padding-left: 0px;
    padding-inline-end: 1rem;
    font-weight: 600;
    display: block;
    position: relative;
    outline-offset: -.125rem!important;
}

details > summary:first-of-type {
    display: list-item;
    counter-increment: list-item 0;
    list-style: inside disclosure-closed;
}

details[open] > summary:first-of-type {
    list-style-type: disclosure-open;
}

.details-content {
    background-color: #7272724f;
    border-bottom: 1px solid #000;
    margin: 0;
    padding: 1.5rem;
}

.full-width-wrapper {
    width: 100vw; /* 100% of the viewport width */
    margin-left: calc(-50vw + 50%);  /* Centering the wrapper */
    /* background-color: #cbe9b7; *//* Replace with your desired color */
    /* background: linear-gradient(to right, #cbe9b7, #f7f9b5);*/
}

#previous-events {
        padding: 0 20px; /* Padding as needed */
        padding-bottom: 30px !important;    
        margin: 0 auto;
}

@media screen and (min-width: 768px) {
    #previous-events { 
       padding: 0 7.4vw !important; 
    }
}

a.social {
    color: var(--type-primary);
    text-decoration: none;
    padding: 10px;
  }
  
  a.social:hover {
    color: var(--type-primary);
  }
  
  a.social:visited {
    color: var(--type-primary);
  }

#socials {
    margin-bottom: 0px; /* Increased spacing between sections */
    padding-bottom: 0px;
}
#copyright {
    padding-top: 20px; 
    padding-bottom: 0px !important; 
}

/* Agenda section */
/* #agenda {
    border: 2px solid #004A7F;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
*/
  .agenda {
    /* No need for display: flex; here anymore */
  }
  
  .region-column {
    margin-bottom: 20px; /* Adds space between each region section */
    /*background-color: white;*/
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.09);
    padding: 10px; /* Padding inside each region for content spacing */
  }
  
  /* Ensure table layout is still responsive within each region */
  .agenda-table table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .agenda-table th, .agenda-table td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .agenda-table th {
    background-color: #004A7F;
    color: #fff;
  }

  .agenda-table tr:nth-child(odd) {
    background-color: #B0E0E6; /* Ice Blue for odd rows */
  }
  
  .agenda-table tr:nth-child(even) {
    background-color: #e2f4f6;
  }
  
  .agenda-table tr:hover {
    background-color: #fff;
  }
  
  /* Responsive behavior for smaller screens */
  @media (max-width: 768px) {
    .agenda-table, .agenda-table table {
      width: auto; /* Allows table to scroll horizontally on small screens */
    }
  }
  
 


/* Speaker section */
.speakers-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  
  
  .speaker {
    border: 1px solid #B0E0E6;
    text-align: center;
    padding: 10px;
    position: relative;
    border-radius: 10px; /* Rounded corners */
  }
  
  .speaker img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    border-radius: 10px; /* Adjust this value to control the roundness */
  }
    
  .speaker img:hover {
    transform: scale(1.05);
  }
  
  .icon-info {
    cursor: pointer;
    color: ;
    margin-left: 5px;
  }
  
  .bio {
    display: none;
  }
  
  .speaker:hover .bio {
    display: block;
    background-color: #e2f4f6;
    padding: 5px;
    position: absolute;
    bottom: 10px;
    left: 5%;
    right: 5%;
    border: 1px solid #B0E0E6;
    border-radius: 10px;
  }
  
  /* Media query for mobile devices */
@media (max-width: 768px) {
  .speaker:hover .bio {
      font-size: 16px; /* Set font size to 10px for mobile devices */
  }
}
  @media (max-width: 768px) {
    .speakers-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .speakers-grid {
      grid-template-columns: 1fr;
    }
  }
  
/* Menu section */
.navbar {
    background-color: #000; /* Change as per your color scheme */
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0px;
  }

  /* Media query for screens with a maximum width of 768px (typical for mobile devices) */
@media (max-width: 768px) {
  .navbar {
    padding: 0px; /* Adjust padding for mobile devices */
  }
}

/* Default styles for the logo */
.jdconflogo {
  width: auto; /* Set the default width for larger screens */
  height: 20px !important;
  display: none;
}

/* Media query for screens with a maximum width of 768px (typical for mobile devices) */
@media (max-width: 768px) {
  .jdconflogo {
    width: auto;/* Reduce the width for mobile devices */
    height: 10px !important;
  }
}

  
  .navbar-logo {
    flex: 1; /* Logo takes 1/4 of the space */
  }
  
  .navbar-logo img {
    height: 50px; /* Adjust as per your logo's size */
  }
  
  .nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 4; /* Menu takes 3/4 of the space */
  }

  
  .nav-menu li {
    margin-left: 0px;
  }

   
  .nav-menu li a {
    display: block;
    color: white; /* Change as per your color scheme */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Media query for screens with a maximum width of 768px (typical for mobile devices) */
@media (max-width: 768px) {
  .nav-menu li a {
    padding: 14px 10px;
  }
}
  
  .nav-menu li a:hover {
    /*background-color: #ddd; */ /* Change for hover effect */
    color: #0067b8;
    
  }
  
  .timezone-notice {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;
    font-style: italic;
    color: #555;
  }
  

#timeZoneInfoDiv {
    padding-bottom: 10px;
}

/* Style for the mobile menu */
.mobile-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: #fff;
}

/* Style for the hamburger icon */
.menu-icon {
  cursor: pointer;
  font-size: 24px;
}

/* Style for the menu items */
.menu-items {
  list-style: none;
  padding: 0;
  display: none;
}

.menu-items li {
  margin: 10px 0;
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
  .menu-items {
    display: block;
  }

  .menu-items.active {
    display: flex;
    flex-direction: column;
  }
}
